#main {
    min-height: 88dvh;
    /* border: 10px solid black; */
    overflow: hidden;
}

#raised {
    background-color: rgb(249, 184, 63);
    box-shadow: 3px 6px 10px 0px rgba(0, 0, 0, 0.75);
}

#shield {
    height: 175px;
    width: 280px;
    animation: spin 4s linear infinite;
    transform-style: preserve-3d;
    transform: rotateY(0deg); /* Initial rotation to ensure it starts from the front */
}

@keyframes spin {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
}
