.card-container {
    color: white;
    border: 1px solid black;
    margin: 25px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: space-between;
}

.card {
    max-width: 200px;
    max-height: auto;
    background-color: rgba(0, 0, 0, 0.383);
    box-shadow: 3px 6px 10px 0px rgba(0, 0, 0, 0.75);
    padding: 5px;
}
  
.card-image {
    background-image: url('../../../assets/images/tuna.jpg');
    background-size: cover;
}
  