<mat-toolbar
  class="flex justify-between"
  [style.backgroundColor]="backgroundColor ? 'black' : 'green'"
>
  <img [src]="V2X" alt="V2X Logo" class="V2X" />
  <div>
    <button mat-icon-button [matMenuTriggerFor]="home" (click)="navigateToInstagram()">
      <img [src]="Instagram" alt="Instagram Logo" class="" />
    </button>
    <mat-menu #home="matMenu">
      <button
        mat-menu-item
        [style.backgroundColor]="backgroundColor ? 'black' : 'green'"
        [style.color]="backgroundColor ? 'white' : 'black'"
      >
        Greenville Training
      </button>
      <button
        mat-menu-item
        [style.background-color]="backgroundColor ? 'black' : 'green'"
        [style.color]="backgroundColor ? 'white' : 'black'"
      >
        AOR Deployment
      </button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="description" (click)="navigateToFacebook()" >
      <img [src]="Facebook" alt="Facebook Logo" class="" />
    </button>
    <mat-menu #description="matMenu">
      <button mat-menu-item (click)="navigateToVectrus()">Vectrus</button>
      <button mat-menu-item (click)="navigateToVertex()">Vertex</button>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="contact">
      <mat-icon>phone_in_talk</mat-icon>
    </button>
    <mat-menu #contact="matMenu">
      <button mat-menu-item>Contact Us</button>
      <button mat-menu-item>FAQ</button>
    </mat-menu>
  </div>
</mat-toolbar>
