<div class="splash-screen">
  <img [src]="V2X" alt="V2X Logo" />
  <h2 class="text-slate-400">Alaska Native Fisheries is a Veteran and Native Owned LLC, based in Alaska since 2020.
    We are a Family Owned and Operated Business that has been passed down for Generations.  We are your Local Alaskan Fishermen.

    We dedicate our time to Wild Caught Alaskan Salmon to give you the purest product.
    From Sea to Table.

    In a modern world skipping the "Middle Man" means top quality and a better wholesale price for you.
    We choose Quality over Quantity and sustainable fishing first.

    We are a proven Native owned Business by the IAC ( Intertribal Agriculture Council )
    and our Salmon proudly wears the IAC certified Label.</h2>
</div>
