@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { 
    height: 100dvh; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: url(./assets/images/kuwait.jpg) fixed;
    background-size: cover;
}
